@import "../../../styles.scss";

::ng-deep {
	.ui-toolbar {
		background-image: url("/assets/images/background.jpg") !important;
		background-position: bottom;
		background-repeat: no-repeat;
		border: 0px solid $white !important;
		padding: 0px !important;
	}
	.ui-corner-all {
		border-radius: 0px !important;
	}
}

.total-page {
	width: 100vw;
	height: 100vh;
	background-color: $background-grey;
}

.img-logo {
	margin: 8px 15px;
}

.button-toolbar {
	background-color: $transparent;
	border: 0px solid $transparent;
	width: 120px;
	height: 61.06px;
	&:hover {
		background-color: $hover-menu !important;
	}
}

.nombre-persona {
	width: 100%;
	height: 50px;
	p {
		margin: 0px;
		padding-top: 16.5px;
		padding-left: 20px;
	}
}

.container-personas {
	width: calc(100% - 38px);
	margin: auto;
	background-color: $white;
	border-radius: $global-border-radius;
	border: 1px solid $border-color;
	padding: 18px;
	font-size: 12px;
	color: $text-color-grey;
	max-height: calc(100vh - 160.05px);
	overflow-x: auto;
}

.footer-style {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	font-size: 12px;
	padding: 5px 0px;
}

//Estilo de ScrollBar
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #adadad;
}

::-webkit-scrollbar-thumb:hover {
	background: #777777;
}

/* Column Priorities */
@media only all {
	th.ui-p-6,
	td.ui-p-6,
	th.ui-p-5,
	td.ui-p-5,
	th.ui-p-4,
	td.ui-p-4,
	th.ui-p-3,
	td.ui-p-3,
	th.ui-p-2,
	td.ui-p-2,
	th.ui-p-1,
	td.ui-p-1 {
		display: none;
	}
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
	th.ui-p-1,
	td.ui-p-1 {
		display: table-cell;
	}
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
	th.ui-p-2,
	td.ui-p-2 {
		display: table-cell;
	}
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
	th.ui-p-3,
	td.ui-p-3 {
		display: table-cell;
	}
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
	th.ui-p-4,
	td.ui-p-4 {
		display: table-cell;
	}
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
	th.ui-p-5,
	td.ui-p-5 {
		display: table-cell;
	}
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
	th.ui-p-6,
	td.ui-p-6 {
		display: table-cell;
	}
}

.container-examenes {
	width: 100%;
	margin: auto;
	background-color: $white;
	border-radius: $global-border-radius;
	border: 1px solid $border-color;
	padding: 18px;
	font-size: 12px;
	color: $text-color-grey;
	max-height: 80vh;
	overflow-x: auto;

	.solid {
		border-top: 1px solid $border-color;
		margin-top: 18px;
	}

	.examen {
		margin-top: 35px;

		.p-grid {
			border-radius: 8px;
			margin: 0px;
		}
		.p-col {
			background-color: skyblue; //temporal, solo para ver como se ve :'v
			padding: 10px 6px;
			border: 0.5px solid $white;
		}
		.box {
			color: $transparent;
		}
	}
}
