@import "../../../../styles.scss";
.total-page {
	width: 100%;
	height: 100%;
	background-color: $background-grey;
	padding-bottom: 10px;
}

.nombre-persona {
	width: 100%;
	height: 50px;
	p {
		margin: 0px;
		padding-top: 16.5px;
		padding-left: 20px;
	}
}

.container-examenes {
	width: calc(100% - 38px);
	margin: auto;
	background-color: $white;
	border-radius: $global-border-radius;
	border: 1px solid $border-color;
	padding: 18px;
	font-size: 12px;
	color: $text-color-grey;
	max-height: calc(100vh - 160.05px);
	overflow-x: auto;

	.solid {
		border-top: 1px solid $border-color;
		margin-top: 18px;
	}

	.leyenda {
		width: 100%;
	}

	.examen {
		margin-top: 45px;

		.p-grid {
			border-radius: 8px;
			margin: 0px;
		}
		.p-col {
			padding: 10px 6px;
			border: 0.5px solid $white;
		}
		.red-color {
			background-color: $state-red-color;
		}
		.orange-color {
			background-color: $state-orange-color;
		}
		.green-color {
			background-color: $state-green-color;
		}
		.from-red-to-orange-color {
			background-image: linear-gradient(to right, $state-red-color, $state-orange-color);
		}
		.from-orange-to-green-color {
			background-image: linear-gradient(to right, $state-orange-color, $state-green-color);
		}
		.none-color {
			background-color: $state-none-color;
		}
		.box-grey {
			color: $text-color-grey;
			text-align: center;
			font-weight: bold;
		}
		.box-white {
			color: $white;
			text-align: center;
			font-weight: bold;
		}
	}
}

//Estilo de ScrollBar
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #adadad;
}

::-webkit-scrollbar-thumb:hover {
	background: #777777;
}
