<p-toast [style]="{ marginTop: '80px' }" position="top-center"></p-toast>
<div class="total-page">
	<div class="nombre-persona" *ngIf="infoCargada">
		<p>
			<b>{{ stringHelper.getResource("lbl-bienvenido") }}: </b>
			{{ persona.primerNombre + " " + persona.primerApellido | titlecase }}
		</p>
	</div>

	<div class="container-examenes" *ngIf="infoCargada">
		<div class="cant-examenes">
			{{ stringHelper.getResource("lbl-resumen-1") }}:
			<b> {{ cantidadPeticiones }} {{ stringHelper.getResource("lbl-resumen-2") }}</b>
		</div>
		<hr class="solid" />
		<div class="leyenda">
			<b>{{ stringHelper.getResource("lbl-nomenclatura") }}</b>
			<p *ngFor="let est of estados; let i = index">
				<b>{{ i + 1 }}:</b> {{ est.nombre }}
			</p>
		</div>
		<div class="examen" *ngFor="let peticion of peticiones">
			<span>
				<b>{{ peticion.examenes[0].diagnostico }}</b> |
				<b> {{ stringHelper.getResource("lbl-fecha") }}: </b>
				{{ peticion.examenes[0].fechaCreacion }} |
			</span>
			<span *ngIf="!canceladoDevolucion">
				<span *ngFor="let examen of peticion.estados">
					<span *ngIf="examen.activo == 'S'">
						<b> {{ stringHelper.getResource("lbl-estado") }}: </b>
						{{ examen.nombre }}
					</span>
				</span>
			</span>
			<span *ngIf="canceladoDevolucion">
				<span>
					<b> {{ stringHelper.getResource("lbl-estado") }}: </b>
					{{ canceladoDevolucionObj.nombre | titlecase }} |
					<b>{{ stringHelper.getResource("lbl-motivo") }}: </b>
					{{ canceladoDevolucionObj.observacion | titlecase }}
				</span>
			</span>
			<br />

			<div class="p-grid" style="margin-top: .5em">
				<div
					*ngFor="let col of peticion.estados; let i = index"
					[pTooltip]="col.nombre"
					class="p-col"
					[ngClass]="{
						'red-color': i < 2 && col.activo != 'E',
						'orange-color': i >= 2 && i < 5 && col.activo != 'E',
						'green-color': i >= 5 && col.activo != 'E',
						'none-color': col.activo == 'E',
						'from-red-to-orange-color': i == 2 && col.activo != 'E',
						'from-orange-to-green-color': i == 4 && col.activo != 'E'
					}"
					tooltipPosition="top"
					appendTo="body"
					tooltipZIndex="20000"
				>
					<div [ngClass]="{ 'box-white': i <= 2 && col.activo != 'E', 'box-grey': col.activo == 'E' || i > 2 }">
						{{ i + 1 }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui-g-12 ui-md-12 progress" id="progress" *ngIf="progress">
	<div class="spinner">
		<p-progressSpinner [style]="{ width: '150px', height: '150px' }"></p-progressSpinner>
	</div>
</div>
