<div class="total-page">
	<div class="nombre-persona" *ngIf="infoCargada">
		<p><b>Bienvenido: </b>{{ persona.primerNombre + " " + persona.primerApellido | titlecase }}</p>
	</div>

	<div class="container-examenes" *ngIf="infoCargada">
		<div class="cant-examenes">
			Resumen de estado de exámenes: <b>{{ cantidadPeticiones }} resúmenes disponibles</b>
		</div>
		<hr class="solid" />
		<div class="examen" *ngFor="let peticion of peticiones">
			<span
				><b>{{ peticion.examenes[0].diagnostico }}</b> | <b>Fecha creación:</b> {{ peticion.examenes[0].fechaCreacion }} |
			</span>
			<span *ngIf="!canceladoDevolucion">
				<span *ngFor="let examen of peticion.estados">
					<span *ngIf="examen.activo == 'S'"> <b>Estado:</b> {{ examen.nombre }} </span>
				</span>
			</span>
			<span *ngIf="canceladoDevolucion">
				<span>
					<b>Estado:</b> {{ canceladoDevolucionObj.nombre | titlecase }} | <b>Motivo:</b>
					{{ canceladoDevolucionObj.observacion | titlecase }}
				</span>
			</span>
			<br />

			<div class="p-grid" style="margin-top: .5em">
				<div
					*ngFor="let col of peticion.estados; let i = index"
					[pTooltip]="col.nombre"
					class="p-col"
					[ngClass]="{
						'red-color': i < 2 && col.activo != 'E',
						'orange-color': i >= 2 && i < 5 && col.activo != 'E',
						'green-color': i >= 5 && col.activo != 'E',
						'none-color': col.activo == 'E'
					}"
					tooltipPosition="top"
					appendTo="body"
					tooltipZIndex="20000"
				>
					<div class="box">{{ " . " }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
