<div class="total-page" *ngIf="infoCargada">
	<div class="nombre-persona">
		<!-- TODO: Arreglar este nombre -->
		<p>
			<b>{{ stringHelper.getResource("lbl-bienvenido") }}: </b>EPS Colsanitas (?)
		</p>
	</div>

	<div class="container-personas">
		<p-table #dt [value]="listaPersonas" [paginator]="true" [rows]="10">
			<ng-template pTemplate="caption">
				{{ stringHelper.getResource("tab-caption") }}
			</ng-template>

			<ng-template pTemplate="header">
				<tr>
					<th class="ui-p-1">
						{{ stringHelper.getResource("tab-documento") }}
						<input pInputText type="text" (input)="dt.filter($event.target.value, 'numeroDocumento', 'contains')" />
					</th>
					<th class="ui-p-2">
						{{ stringHelper.getResource("tab-nombre") }}
						<input pInputText type="text" (input)="dt.filter($event.target.value, 'nombreCompleto', 'contains')" />
					</th>
					<th class="ui-p-3">
						{{ stringHelper.getResource("tab-correo") }}
						<input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" />
					</th>
					<th class="ui-p-4">
						{{ stringHelper.getResource("tab-celular") }}
						<input pInputText type="text" (input)="dt.filter($event.target.value, 'celular', 'contains')" />
					</th>
					<th class="ui-p-5">
						{{ stringHelper.getResource("tab-ciudad") }}
						<input pInputText type="text" (input)="dt.filter($event.target.value, 'nombreCiudad', 'contains')" />
					</th>
					<th class="ui-p-1">
						{{ stringHelper.getResource("tab-resumen") }}
					</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-persona>
				<tr>
					<td class="ui-p-1">{{ persona.numeroDocumento }}</td>
					<td class="ui-p-2">
						{{
							persona.primerNombre + " " + persona.segundoNombre + " " + persona.primerApellido + " " + persona.segundoApellido
								| titlecase
						}}
					</td>
					<td class="ui-p-3">{{ persona.email | lowercase }}</td>
					<td class="ui-p-4">{{ persona.celular }}</td>
					<td class="ui-p-5">{{ persona.nombreCiudad | titlecase }}</td>
					<td class="ui-p-1" (click)="openPersona(persona.idPaciente)">{{ stringHelper.getResource("tab-examenes") }}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<p-dialog
	[header]="stringHelper.getResource('dlg-header-examenes')"
	[(visible)]="displayPersona"
	[modal]="true"
	[style]="{ width: '70%', 'max-width': '100%', 'max-height': '100%' }"
	[maximizable]="true"
	[responsive]="false"
	[baseZIndex]="10000"
	[draggable]="false"
	[resizable]="true"
>
	<div class="container-examenes" *ngIf="displayPersona">
		<app-persona [idPersonaFrame]="idPersonaSelected"></app-persona>
	</div>
</p-dialog>
