@import "../../../../styles.scss";

.total-page {
	width: 100%;
	height: 100%;
	background-color: $background-grey;
}

.nombre-persona {
	width: 100%;
	height: 50px;
	p {
		margin: 0px;
		padding-top: 16.5px;
		padding-left: 20px;
	}
}

.container-personas {
	width: calc(100% - 38px);
	margin: auto;
	background-color: $white;
	border-radius: $global-border-radius;
	border: 1px solid $border-color;
	padding: 18px;
	font-size: 12px;
	color: $text-color-grey;
	max-height: calc(100vh - 160.05px);
	overflow-x: auto;
}

.container-examenes {
	width: 100%;
	height: 100%;
}

::ng-deep .ui-inputtext {
	width: 100%;
	background-color: white !important;
}

/* Column Priorities */
@media only all {
	th.ui-p-6,
	td.ui-p-6,
	th.ui-p-5,
	td.ui-p-5,
	th.ui-p-4,
	td.ui-p-4,
	th.ui-p-3,
	td.ui-p-3,
	th.ui-p-2,
	td.ui-p-2,
	th.ui-p-1,
	td.ui-p-1 {
		display: none;
	}
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
	th.ui-p-1,
	td.ui-p-1 {
		display: table-cell;
	}
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
	th.ui-p-2,
	td.ui-p-2 {
		display: table-cell;
	}
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
	th.ui-p-3,
	td.ui-p-3 {
		display: table-cell;
	}
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
	th.ui-p-4,
	td.ui-p-4 {
		display: table-cell;
	}
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
	th.ui-p-5,
	td.ui-p-5 {
		display: table-cell;
	}
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
	th.ui-p-6,
	td.ui-p-6 {
		display: table-cell;
	}
}

//Estilo de ScrollBar
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #adadad;
}

::-webkit-scrollbar-thumb:hover {
	background: #777777;
}
.progress {
	background-color: rgba(150, 150, 150, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 99999999;
}

.spinner {
	float: left;
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		stroke: #d62d20;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		stroke: rgb(165, 16, 113);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		stroke: #204bd6;
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
