<div class="fondo-login">
	<!-- <span>login works!</span><br />
	<button pButton type="button" label="Iniciar sesión Persona" (click)="iniciarSesion(1)"></button>
  <button pButton type="button" label="Iniciar sesión ESP" (click)="iniciarSesion(2)"></button> -->

	<div class="login-container login-container-solo" *ngIf="false">
		<div class="logo">
			<img src="assets/images/logo-horizontal-negro.png" alt="logo-gencell" width="163.91px" />
		</div>
		<div class="input-doc">
			<span class="ui-float-label input-parent">
				<input type="text" pInputText class="input-area" />
				<label for="float-input">Documento</label>
			</span>
		</div>
		<div class="input-pass">
			<span class="ui-float-label input-parent">
				<input type="text" pInputText class="input-area" type="password" />
				<label for="float-input">Contraseña</label>
			</span>
		</div>
		<div class="button-login">
			<button pButton type="button" label="Buscar"></button>
		</div>
		<div class="links">
			<span>Aún no estás registrado?</span><span class="registro" (click)="mostrarInscribir('top')"> Registrate aquí</span
			><br /><br />
			<span class="web">Ir a la página web</span>
		</div>
	</div>

	<div
		[ngClass]="{
			'login-container': 'true',
			'pre-registro-container': 'false',
			'registro-container': 'true'
		}"
		*ngIf="true"
	>
		<div class="logo">
			<h2>Registro</h2>
		</div>
		<div class="input-doc">
			<span class="ui-float-label input-parent">
				<input type="text" pInputText class="input-area" />
				<label for="float-input">Documento</label>
			</span>
		</div>
		<div class="input-doc">
			<div class="input-parent">
				<p-dropdown
					[options]="tiposDocumento"
					[(ngModel)]="documentoSelected"
					placeholder="Tipo documento"
					optionLabel="descrip"
					appendTo="body"
					baseZIndex="20000"
				></p-dropdown>
			</div>
		</div>
		<div class="button-login">
			<button pButton type="button" label="Ingresar"></button>
		</div>
		<div class="form-container" *ngIf="true">
			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Primer Nombre</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Segundo Nombre</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Primer Apellido</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Segundo Apellido</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Numero Celular</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Numero Fijo</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<input type="text" pInputText class="input-area" />
					<label for="float-input">Correo electrónico</label>
				</span>
			</div>

			<div class="input-doc">
				<span class="ui-float-label input-parent">
					<p-calendar [(ngModel)]="fechaNacimiento" appendTo="body"></p-calendar>
					<label for="float-input">Fecha Nacimiento</label>
				</span>
			</div>
		</div>
		<div class="links">
			<span class="registro" (click)="mostrarInscribir('top')">Regresar</span><br /><br />
			<span class="web">Ir a la página web</span>
		</div>
	</div>

	<footer class="footer-style">
		<p>Copyright © 2020 Gencell Pharma.</p>
	</footer>
</div>

<!-- <p-dialog
	[header]="Registro"
	[(visible)]="displayPosition"
	[modal]="true"
	[style]="{ width: '70%', 'max-width': '100%', 'max-height': '100%' }"
	[maximizable]="true"
	[responsive]="false"
	[baseZIndex]="10000"
	[resizable]="true"
>
	<div style="overflow: hidden;">
		<div class="input-doc">
			<span class="ui-float-label input-parent">
				<input type="text" pInputText class="input-area" />
				<label for="float-input">Documento</label>
			</span>
		</div>
		<div class="input-doc">
			<span class="ui-float-label input-parent">
				<p-dropdown
					[options]="tiposDocumento"
					[(ngModel)]="documentoSelected"
					optionLabel="descrip"
					appendTo="body"
					baseZIndex="20000"
				></p-dropdown>
				<label for="float-input">Tipo Documento</label>
			</span>
		</div>
	</div>
</p-dialog> -->
