<div class="total-page">
	<p-toolbar class="toolbar-style">
		<div class="ui-toolbar-group-left">
			<img src="assets/images/logo-horizontal-blanco.png" alt="logo-gencell" width="140px" class="img-logo" />
		</div>

		<div class="ui-toolbar-group-right">
			<button pButton icon="pi pi-search" iconPos="left" class="button-toolbar" label="Informes"></button>
			<button pButton icon="pi pi-calendar" iconPos="left" class="button-toolbar" label="Salir" (click)="salir()"></button>
		</div>
	</p-toolbar>

	<div class="nombre-persona" *ngIf="infoCargada">
		<p><b>Bienvenido: </b>{{ persona.primerNombre + " " + persona.primerApellido | titlecase }}</p>
	</div>

	<div class="container-examenes" *ngIf="infoCargada">
		<div class="cant-examenes">
			Resumen de estado de exámenes: <b>{{ cantidadPeticiones }} resúmenes disponibles</b>
		</div>
		<hr class="solid" />
		<div class="examen" *ngFor="let peticion of peticiones">
			<span
				><b>{{ peticion.examenes[0].diagnostico }}</b> | <b>Fecha creación:</b> {{ peticion.examenes[0].fechaCreacion }} |
			</span>
			<span *ngIf="!canceladoDevolucion">
				<span *ngFor="let examen of peticion.estados">
					<span *ngIf="examen.activo == 'S'"> <b>Estado:</b> {{ examen.nombre }} </span>
				</span>
			</span>
			<span *ngIf="canceladoDevolucion">
				<span>
					<b>Estado:</b> {{ canceladoDevolucionObj.nombre | titlecase }} | <b>Motivo:</b>
					{{ canceladoDevolucionObj.observacion | titlecase }}
				</span>
			</span>
			<br />

			<div class="p-grid" style="margin-top: .5em">
				<div
					*ngFor="let col of peticion.estados; let i = index"
					[pTooltip]="col.nombre"
					class="p-col"
					[ngClass]="{
						'red-color': i < 2 && col.activo != 'E',
						'orange-color': i >= 2 && i < 5 && col.activo != 'E',
						'green-color': i >= 5 && col.activo != 'E',
						'none-color': col.activo == 'E'
					}"
					tooltipPosition="top"
				>
					<div class="box">{{ " . " }}</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer-style">
		<p>Copyright © 2020 Gencell Pharma.</p>
	</footer>
</div>
