@import "../../../styles.scss";

::ng-deep {
	.ui-toolbar {
		background-image: url("/assets/images/background.jpg") !important;
		background-position: bottom;
		// background-repeat: no-repeat;
		border: 0px solid $white !important;
		padding: 0px !important;
	}
	.ui-corner-all {
		border-radius: 0px !important;
	}
}

.total-page {
	width: 100vw;
	height: 100vh;
	background-color: $background-grey;
}

.img-logo {
	margin: 8px 15px;
}

.button-toolbar {
	background-color: $transparent;
	border: 0px solid $transparent;
	width: 120px;
	height: 61.06px;
	&:hover {
		background-color: $hover-menu !important;
	}
}

.nombre-persona {
	width: 100%;
	height: 50px;
	p {
		margin: 0px;
		padding-top: 16.5px;
		padding-left: 20px;
	}
}

.container-examenes {
	width: calc(100% - 38px);
	margin: auto;
	background-color: $white;
	border-radius: $global-border-radius;
	border: 1px solid $border-color;
	padding: 18px;
	font-size: 12px;
	color: $text-color-grey;
	max-height: calc(100vh - 160.05px);
	overflow-x: auto;

	.solid {
		border-top: 1px solid $border-color;
		margin-top: 18px;
	}

	.examen {
		margin-top: 45px;

		.p-grid {
			border-radius: 8px;
			margin: 0px;
		}
		.p-col {
			// background-color: skyblue; //temporal, solo para ver como se ve :'v
			padding: 10px 6px;
			border: 0.5px solid $white;
		}
		.red-color {
			background-color: #ff2200;
		}
		.orange-color {
			background-color: #ffaa00;
		}
		.green-color {
			background-color: #c8ff00;
		}
		.none-color {
			background-color: rgba(135, 207, 235, 0.493);
		}
		.box {
			color: $transparent;
		}
	}
}

.footer-style {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	font-size: 12px;
	padding: 5px 0px;
}

//Estilo de ScrollBar
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #adadad;
}

::-webkit-scrollbar-thumb:hover {
	background: #777777;
}
